body {
  background-color: #c6e2eb; /* Substitua #f0f0f0 pela cor desejada */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}


/* Exemplo de CSS no App.css */
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.price {
  font-weight: bold;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaço entre os itens */
  justify-content: center; /* Centraliza os itens na linha */
}
.product-grid li {
  flex: 1 1 200px; /* Cresce para ocupar espaço, mas começa com pelo menos 200px */
  list-style-type: none; /* Remove os marcadores de lista */
}
.product-grid img {
  max-width: 100%;
  height: auto; /* Mantém a proporção da imagem */
}
.product-grid .product-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: auto; /* Faz o container ocupar a altura total da viewport */
}

.image-container img {
  max-width: 50%; /* Garante que a imagem não ultrapasse a largura do container */
  max-height: 80vh; /* Opcional: limita a altura da imagem */
}
